<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org..DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>    

    <properties resource="db.properties" />

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias type="model.User" alias="User" />
        <typeAlias type="model.Comment" alias="Comment" />
    </typeAliases>

    <!-- 환경 : 스프링의 Propile이라고 생각해야 겠다. -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driverName}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.userName}"/>
                <property name="password" value="${db.userPass}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 매퍼 => 여러개 선택 가능 -->
    <mappers>
        <!-- xml 사용 -->
        <!-- 
        <mapper resource="mapper/UserMapper.xml" />
        -->
        <mapper resource="mapper/CommentMapper.xml" />

        <!-- Interface로 사용 -->
        <mapper class="mapper.UserMapperImpl" />
        <mapper class="mapper.CommentMapperImpl" />
    </mappers>
</configuration>